/* Colors */
:root {
    //Primary
    --color-soft-blue: hsl(215, 51%, 70%);
    --color-cyan: hsl(178, 100%, 50%);

    //Neutral
    --color-very-darkblue-main: hsl(217, 54%, 11%);
    --color-very-darkblue-card: hsl(216, 50%, 16%);
    --color-very-darkblue-line: hsl(215, 32%, 27%);

    --color-white: hsla(360, 100%, 100%, 1);
  }